.left-half, .right-half {
    flex: 1; /* Each side takes up 50% of the width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .right-half {
    background-color: #f5f5f5; /* Optional background color for right side */
  }
  
  .left-half {
    background-color: #f5f5f5; /* Optional background color for left side */
    padding-left: 40px; /* Optionally adjust horizontal padding */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the content vertically */
    align-items: flex-start; /* Align items to the start (left) */
  }
  
  .left-half h1 {
    font-size: 70px;
    color: #545454;
    text-align: left;
    margin: 0; /* Remove default margin */
    padding-bottom: 10px; /* Add space below the heading */
  }
  
  .left-half p {
    font-size: 18px;
    color: #545454;
    text-align: left;
    margin-top: 0; /* Remove top margin */
  }
  