/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #40a578; /* Navigation bar color */
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #ff9800;
}

.nav-left a {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 40px;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-right a:not(.signin) {
  margin-left: 60px; /* Add space between non-SignIn links */
}

.nav-right .signin {
  margin-left: 190px;
  margin-right: 70px; /* Add left and right margin */
}

.nav-right a:hover {
  text-decoration: underline;
}

.main-content {
  display: flex;
  height: calc(100vh - 80px); /* Full height minus navbar height */
}

.left-half, .right-half {
  flex: 1; /* Each side takes up 50% of the width */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.right-half {
  background-color: #f5f5f5; /* Optional background color for right side */
}

.left-half {
  background-color: #f5f5f5; /* Optional background color for left side */
  padding-left: 40px; /* Optionally adjust horizontal padding */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: flex-start; /* Align items to the start (left) */
}

.left-half h1 {
  font-size: 70px;
  color: #545454;
  text-align: left;
  margin: 0; /* Remove default margin */
  padding-bottom: 10px; /* Add space below the heading */
}

.left-half p {
  font-size: 18px;
  color: #545454;
  text-align: left;
  margin-top: 0; /* Remove top margin */
}
